@using System.ComponentModel.DataAnnotations;
@{
    ViewData["Title"] = "Failed Page";
}

<div class="text-center">
    <h1 class="display-4">Uuuppsss</h1>
    <p class="display-4">It seems you did not log in!</p>
    <p>Go to <a href="/login_page">Log in</a></p>
    <p>Or registration page <a href="/">here</a></p>
</div>